* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

.hero-img {
    width: 98.93vw;
    height: 40vh;
    object-fit: cover;
}

h3 {
    font-size: 2rem;
    color: white;
}

h2 {
    font-size: 2.4rem;
    color: white;
}

.hero {
    position: relative;
}

.logo {
    display: flex;
}

.logo-icon {
    color: white;
    height: 2rem;
    width: 2rem;
    padding: 0.2rem 0.8rem 0 0;
}

.header {
    top: 0;
    width: 100%;
    position: absolute;
}

.logo-text {
    color: white;
}

.nav-main-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    color: white;
    background-color: rgba(128, 128, 128, 0.521);
    padding: 1rem;
    border: none;
    border-radius: 0.4rem;
    margin-right: 2.4rem;
}

.notification-icon {
    color: white;
    height: 3rem;
    width: 3rem;
    margin-right: 2.4rem;
}

.nav-item-img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 0.8rem;
}

.header-section {
    display: flex;
    justify-content: space-between;
    margin: 2rem 4rem;
}

.header-section-2 {
    margin-top: 4rem;
    margin: 4rem 4rem 0 4rem;
    display: flex;
    justify-content: space-between;
}

.header-img {
    position: absolute;
    height: 22rem;
    width: 22rem;
    border-radius: 0.8rem;
}

.box-left {
    display: flex;
}

.header-section-2-text {
    margin-left: 24.4rem;
}

.header-section-2-text p {
    margin-top: 1.2rem;
}

.header-section-2-text p span {
    color: white;
}

.first-text {
    margin-top: 4rem;
}

.box-right {
    background-color: rgba(128, 128, 128, 0.345);
    height: 14rem;
    width: 36rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 4rem;
    width: 9rem;
    height: 9rem;
}

.progress svg {
    width: 9rem;
    height: 9rem;
    position: absolute;
    top: 0%;
    left: 0%;
    overflow: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress svg circle:nth-child(1) {
    width: 9rem;
    height: 9rem;
    position: absolute;
    fill: none;
    stroke-dashoffset: 0;
    stroke: rgba(255, 255, 255, 0.301);
    stroke-width: 4;
    stroke-dasharray: 420;
}

.progress svg circle:nth-child(2) {
    width: 9rem;
    height: 9rem;
    position: absolute;
    fill: none;
    stroke: #ffa723;
    stroke-width: 4;
    stroke-dasharray: 210;
}

.number {
    background-color: rgba(255, 255, 255, 0.301);
    width: 7rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.progress-bar {
    color: #ffffffcc;
    font-size: 2rem;
}

/*
.circle-wrap {
    margin: 150px auto;
    width: 120px;
    height: 120px;
    background: rgba(128, 128, 128, 0.188);
    border-radius: 50%;
    border: 1px solid #cdcbd0;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 50%;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;
    line-height: 100px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    color: rgba(240, 206, 14, 0.979);
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
}

.mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: rgba(240, 206, 14, 0.979);
}

.mask.full,
.circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(135deg);
}

@keyframes fill {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(135deg);
    }
} */

.right {
    margin-right: 2rem;
}

.right h3 {
    font-weight: 500;
}

p {
    color: rgb(198, 194, 194);
    font-size: 1.4rem;
    margin: 1rem 0;
}

.right .btn {
    background-color: rgba(240, 206, 14, 0.979);
    padding-left: 2rem;
    padding-right: 2rem;
}

.camera {
    height: 3.2rem;
    width: 4.0rem;
    background-color: rgba(128, 128, 128, 0.345);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border-radius: 0.4rem;
    margin-left: auto;
}

.camera-icon {
    color: rgba(255, 255, 255, 0.477);
    height: 2.3rem;
    width: 2.3rem;
}

.section-hero-2 {
    display: grid;
    grid-template-columns: 32rem 1fr;
    grid-template-rows: 6rem 1fr;
}

.hero-2-left {
    grid-row: 2/-1;
    margin-left: 4rem;
    margin-top: 1.4rem;
    border-right: 1px solid grey;
}

.hero-2-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.2rem;
    margin-right: 2rem;
    border-bottom: 1px solid grey;
}

.option-icon {
    height: 2rem;
    width: 2rem;
    color: grey;
    margin-right: 0;
}

.title-text h3 {
    color: black;
    font-size: 1.6rem;
    font-weight: bold;
}

.items {
    margin: 1.6rem 0;
}

.items img {
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1.8rem;
}

.img-items {
    margin: 2.8rem 0;
}

.img-items h4 {
    color: grey;
    letter-spacing: 0.15rem;
}

.info-text {
    margin: 2.4rem 0;
}

.info-text h4 {
    letter-spacing: 0.15rem;
    color: grey;
    padding: 0 0 0.5rem 0;
}

.info-text p {
    color: black;
    font-weight: 700;
    margin-top: 0;
}

.hero-2-right {
    grid-column: 2/-1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
}

.nav-items-left {
    display: flex;
}

.btn-right {
    height: 4rem;
    display: flex;
    margin-right: 4rem;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.08rem;
    background-color: rgb(14, 131, 88);
}

.claim {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
}

.item-right-1 .notification-icon {
    color: black;
    height: 1.6rem;
    margin-right: 0;
}

.item-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem 1rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
    padding-bottom: 3rem;
}

.nav-items-left a {
    color: grey;
    font-size: 1.6rem;
    /* letter-spacing: 0.08rem; */
    font-weight: bold;
}

.nav-items-left a:hover {
    color: #fff;
    cursor: pointer;
    color: rgba(240, 206, 14, 0.979);
    border-bottom: 3px solid rgba(240, 206, 14, 0.979);
}

.item-right :nth-child(2) {
    color: black;
    text-decoration: none;
}

.item-right-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    border-bottom: 3px solid rgba(240, 206, 14, 0.979);
}

.home-icon {
    color: rgba(240, 206, 14, 0.979);
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}

.cards {
    display: grid;
    height: 50rem;
    grid-template-rows: 10rem 1fr;
    row-gap: 8em;
    /* border-left: 1px solid grey; */
}

.cards-items {
    grid-column: 1/-1;
    display: flex;
    margin: 3rem 5rem 3rem 5rem;
    justify-content: space-between;
}

.textinomials-activities {
    display: grid;
    grid-template-columns: 1fr 40rem;
}


.card {
    display: flex;
    width: 35rem;
    height: 13rem;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}

.card-info {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    border-left: 1px solid grey;
    position: relative;
}

.card-info h2 {
    font-size: 1.6rem;
    color: grey;
    padding: 1rem 0;
}

.card-img {
    margin-left: 1.6rem;
    display: flex;
}

.card-img img {
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    margin-left: -1.8rem;
}


.img-item-main::after {
    content: "+32";
    font-size: 1.6rem;
    color: #fff;
    background-color: #1fa581a4;
    top: 3.9rem;
    left: 100px;
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    z-index: 5;
}

.headers-img:nth-child(4) {
    opacity: 0.58;
}

h1 {
    font-size: 6rem;
    font-weight: 400;
    padding-right: 3rem;
}

.textinomials {
    margin: 0.5rem 0rem 3rem 5rem;
}

.texynomial-card {
    width: 72rem;
    height: 15rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.text {
    display: flex;
    align-items: center;
}

.address-icon {
    color: grey;
    height: 2rem;
    width: 2rem;
    margin-right: 0.8rem;
}

.text span {
    color: black;
}

.texynomial-card img {
    padding: 2rem;
    border-radius: 3rem;
}

.textinomial-info h2 {
    color: black;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.textinomial-info {
    margin-right: 12rem;
}

.texy-btn {
    background-color: rgba(240, 206, 14, 0.979);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 3rem;
}

.texy-btn .notification-icon {
    height: 2rem;
    margin: 0;
}

.texy-btn h3 {
    font-size: 1.6rem;
    font-weight: 400;
}

.activities {
    border-radius: 0.5rem;
    margin-right: 5rem;
    position: relative;
    margin-top: 0.5rem;
    height: 49rem;
}

.scroll {
    height: 49rem;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll::-webkit-scrollbar {
    width: 0.6rem;
}

.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 20px;
    margin-top: 22rem;
    margin-bottom: 22rem;
}

.scroll::-webkit-scrollbar-thumb {
    background: rgba(240, 206, 14, 0.979);
    border-radius: 10px;
    height: 1rem;
}

.activities h4 {
    color: grey;
    font-size: 1.6rem;
    font-weight: 300;
    margin: 1.8rem;
    border-bottom: 1px solid grey;
    padding-bottom: 1rem;
}

.activity-info h3 {
    margin-top: 0;
    font-size: 1.6rem;
    font-weight: 600;
    color: black;
}

.activity-info {
    border-left: 1px solid rgba(128, 128, 128, 0.33);
    padding-left: 4rem;
    margin: 0 4.5rem;
}

.activity-info p {
    margin-bottom: 0;
}

.time {
    padding-bottom: 1.5rem;
}

.dot {
    height: 1rem;
    width: 1rem;
    background-color: rgba(0, 0, 255, 0.462);
    position: absolute;
    border-radius: 50%;
    left: 4rem;
}

.dot2 {
    background-color: rgb(54, 187, 21);
}

.dot3 {
    background-color: rgb(233, 241, 7);
}

.dot4 {
    background-color: rgb(242, 4, 4);
}

.dot5 {
    background-color: rgb(244, 0, 211);
}

.shadow {
    box-shadow: 0 0.2rem 2rem rgba(0 0 0 / 0.1);
    background-color: rgba(242, 238, 238, 0.205);
}